@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

a:hover {
  color: #5da2df;
  /* zoom: 1.2; */
  transform: scale(1.2);
  transition: transform 0.5s;
}

/* App */

.App-root {
  height: 100vh;
  max-width: 900px;
  margin: auto;
}
  

/* Navbar */

.Nav-root {
  height: 10vh;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  border-bottom: #b5b5b5 solid 1px;
}

.Nav-title {
  align-self: center;
  width: 70%;
  color: #5da2df;
}

.Nav-links {
  align-self: center;
  display: flex;
  justify-content: space-around;
  width: 30%;

}



/* content of the app  - what is not in the navbar */

.app-content {
  height: 93vh;
}

/* home */

.Home-root {
  height: 100%;
}

.CreateBlog-root {
  height: 100%;
}

/* BlogItem-root */
.BlogItem-root{
  transition: box-shadow .3s;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 

}

BlogItem-root{
  box-shadow: 12px 12 16px rgba(33,33,33,.2); 
}

